# Global Forest Watch Data API key
# Daftar dulu di https://data-api.globalforestwatch.org (sign-up -> password via email -> token -> apikey)
GFW_API_KEY=

# GEMINI API key
# https://aistudio.google.com/api-keys --> Create API key
GEMINI_API_KEY=